//-
   Created by cyc on 2017/2/8.
   底部区块
   indexIcons: 图标文件
   style: 样式文件


include ../share/icon.mixin.pug

+icon(indexIcons, 'dev', style.foot)
p
  | Environment:&nbsp;
  span#environment(class=style.environment) Non-development