@import "../theme/variables";
@import "../theme/utilities";

h1 {
  position: relative;
  font-size: .3rem;
  font-weight: bold;

  span {
    position: absolute;
    bottom: .04rem;
    font-size: $fontS;
    font-style: italic;
    padding-left: .04rem;
    font-weight: normal;
  }
}

.lead {
  padding: $space 0;
  text-align: center;
}

.gotoGithub {
  margin-top: $space * 2;
  padding: $space $space * 2;
  border: .01rem solid $fontColor;
  border-radius: $radius;
  font-size: $fontL;

  &:hover {
    color: $bgc;
    background-color: $fontColor;
  }
}

.lastUpdated {
  font-size: $fontS;
  padding: $space;
  display: flex;
  @include flex-box-align(center, center);

  :global {
    .icon {
      height: $fontL;
      width: $fontL;
      margin-right: $space /4;

      svg {
        fill: $fontColor;
      }
    }
  }

}
