@import "../theme/variables";
@import "../theme/utilities";

@keyframes rotation {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

h1 {
  position: relative;
  font-size: .3rem;
  font-weight: bold;

  span {
    position: absolute;
    bottom: .04rem;
    font-size: $fontS;
    font-style: italic;
    padding-left: .04rem;
    font-weight: normal;
  }
}

// logo animation
$picH: 1.2rem;
.logo {
  position: relative;
  height: $picH;
  width: $picH;
  margin-bottom: $picH / 6;

  transform: scale(.9);
  transition: transform .4s;

  &.enlarge {
    transform: scale(1);
  }
}

.logoImg {
  position: absolute;
  left: 0;
  top: 0;
  height: $picH;
  width: $picH;

  perspective: $picH / 6;
  animation: rotation 4s linear 0s infinite normal both;
  //animation-fill-mode: both;
  //animation-play-state: running;

  &.animationPaused {
    animation-play-state: paused;
  }
}

.lead {
  padding: $space 0;
  text-align: center;
}

.gotoGithub {
  margin-top: $space * 2;
  padding: $space $space * 2;
  border: .01rem solid $fontColor;
  border-radius: $radius;
  font-size: $fontL;

  &:hover {
    color: $bgc;
    background-color: $fontColor;
  }
}

.lastUpdated {
  font-size: $fontS;
  padding: $space;
  display: flex;
  @include flex-box-align(center, center);

  :global {
    .icon {
      height: $fontL;
      width: $fontL;
      margin-right: $space /4;

      svg {
        fill: $fontColor;
      }
    }
  }

}
