doctype html
html(lang='zh-cn')
  head
    meta(charset='utf-8')
    title gulp-temp
    meta(name='description', content="gulp temp")
    meta(name='keywords', content="gulp")

    //-link(rel='stylesheet' href='style/main.css')

  body
    header
      include includes/header.pug

    main
      include includes/main.pug



