/*---------------------------
 * 字体样式
 *---------------------------*/
$fontS: 14px;
$fontM: 15.5px;
$fontL: 17px;

/*---------------------------
 * 颜色样式
 *---------------------------*/
//默认字色
$fontColor: #eae9e5;

//默认背景
$bgc: #0a4f56;

//其他配色

/*---------------------------
 * 结构样式
 *---------------------------*/

//默认间隔
$space: 2vh;
$iconMarginR: .8vh;

//圆角
$radius: .04rem;