doctype html
html(lang='en')
  head
    title Pwa Webpack Starter
    link(rel="manifest" href="./manifest.json")
    include includes/meta.pug
  body
    .main-screen
      include includes/mainScreen.pug