//-中间区块

h2 welcome!

-
  var svgItems =
  [{
  name:'pic',
  svgId:'pic'
  },
  {
  name:'edit',
  svgId:'edit'
  },
  {
  name:'video',
  svgId:'video'
  }];


mixin iconList(name, id)
  li
    svg.icon(aria-hidden='true')
      use(xlink:href='./images/icons/icons.svg#' + id)
    span #{name}

ul.foo
  each svgItem in svgItems
    + iconList(svgItem.name, svgItem.svgId)

#show_load
.Tour

