doctype html
html(lang='zh-cn')
  head
    meta(charset='utf-8')
    title= statics.title
    meta(name='description', content=statics.description)
    meta(name='keywords', content=statics.keywords)

    // build:css style/styles.min.css
    link(rel='stylesheet' href='style/main.css')
    // endbuild

  body
    header
      include includes/header.pug

    main
      include includes/main.pug

    script(src='scripts/bundle.js')



