//-引入模板
extends layout/_layout.pug
block title
  title= statics.title

//-追加meta
block append meta
  meta(name='keywords', content=statics.keywords)


block body
  header
    include includes/header.pug

  main
    include includes/main.pug


  //build:js scripts/main.min.js
  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='scripts/main.js')
  //endbuild