@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body {
  background-color: #008081; }

header {
  border-bottom: 2px solid white;
  color: white; }
  header h1 {
    text-align: center;
    padding: 10px; }

main {
  position: relative;
  height: 60vh;
  border-bottom: 2px solid white;
  color: white; }
  main h2 {
    padding: 5px;
    text-align: center; }

.foo {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid white; }
  .foo li {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -4px;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: white;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
  overflow: hidden; }

#show_load {
  padding: 5px;
  color: white;
  text-align: center; }
