//-
   Created by cyc on 2017/2/7.
   中间区块
   indexSvgIcon: 图标文件
   style: 样式文件



h2 welcome!

-
  var svgItems = [
  {
  "name": "pic",
  "svgId": "pic"
  },
  {
  "name": "edit",
  "svgId": "edit"
  },
  {
  "name": "video",
  "svgId": "video"
  }
  ]


mixin iconList(name, id)
  li
    svg(class = style.icon, aria-hidden='true')
      use(xlink:href=indexSvgIcon + '#' + id)
    span #{name}

ul.foo
  each svgItem in svgItems
    + iconList(svgItem.name, svgItem.svgId)

#show_load
.Tour

