@import "reset";
@import 'variables';
@import 'utilities';

body {
  background-color: $color-teal-base;
}

header {
  border-bottom: 2px solid white;
  color: white;

  h1 {
    text-align: center;
    padding: 10px;
  }
}

main {
  position: relative;
  height: 60vh;
  border-bottom: 2px solid white;

  color: white;

  h2 {
    padding: 5px;
    text-align: center;
  }
}

p{
  text-align: center;
}


:global {
  .foo {
    @include fix-center(0);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;

    li {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #show_load {
    padding: 5px;
    color: white;
    text-align: center;
  }
}



